@font-face {
    font-family: NewsReader;
    src: url(/Fonts/Newsreader/Newsreader-VariableFont_opsz\,wght.ttf);
}

/* header styles */
.header-container {
    display: flex;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    flex-direction: row;
    margin-left: 12em;

}

#logo-image {
    margin-top: 50px;
    width: 50px;
    height: 50px;
}

.title-container {
    margin-left: 1em;
    font-size: 20px;
}

.title-container h1 {
    text-decoration: none;
    color: black;
}

.title-container a:hover {
    text-decoration: none;
}

h1 {
    margin-top: 60px;
    font-size: 60px;
    font-family: Newsreader;
}

#logo-anchor {
    text-decoration: none;
}

.email-container {
    justify-content: right;
    font-size: 20px;
    margin-right: 6em;
    margin-top: 4em;
}

#contact-email {
    font-family: Newsreader;
    color: rgb(0, 178, 243);
    margin-top: 80px;
    margin-right: 35px;
    justify-self: right;
    text-decoration: none;
    font-size: 22px;
}

#mail-image {
    width: 40px;
}

/* body styles */
h2 {
    font-family: Newsreader;
    margin: 10px 5em;
    font-size: 2.5em;
    padding-bottom: 5px;
}

#main-image {
    width: 250px;
    margin-right: 13em;
    margin-top: 150px;
    margin-left: 0px;
}

a:hover {
    text-decoration: underline;
}

.member-anchors {
    font-family: Newsreader;
    color: rgb(0, 178, 243);
    text-decoration: none;
}

#contact-email:hover {
    text-decoration: underline;
    transition: 0.2s;
}

#readmore-link {
    color: rgb(0, 178, 243);
    text-decoration: none;
}

#readmore-link:hover {
    text-decoration: underline;
}

.navigation-container {
    border: 2px solid rgb(192 192 192);
    margin: 40px 5.5em;
}

.nav-link {
    font-size: 20px;
    font-family: Newsreader;
    text-decoration: none;
    color: rgb(0, 178, 243);
}

.dropdown-item {
    font-size: 20px;
    font-family: Newsreader;
    text-decoration: none;
    color: rgb(0, 178, 243);
}

.nav-link:hover {
    text-decoration: none;
}

.info-container {
    margin-top: 5em;
    display: flex;
    flex-direction: row;
}

.info-container p {
    font-family: Newsreader;
    margin: 2em 10em;
    width: 60%;
    font-size: 20px;
    padding-top: 5px;
}

.all-filters-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter-state-container {
    margin-right: 15em;
    font-size: 20px;
    font-family: Newsreader;
    margin-left: 2em;
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: left;
    margin-left: 12em;
    margin-bottom: 1em;
}

.checkbox-container p,
.checkbox-container label {
    font-size: 20px;
    font-family: Newsreader;
}

.partyFilterCheckbox {
    margin-top: 5px;
    width: 18px;
    height: 18px;
}

#select-state {
    padding: 5px;
    margin-left: 20px;
}

.table {
    display: table;
    table-layout: auto;
    border: 2px solid rgb(192 192 192);
    width: 80%;
    font-family: Newsreader;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 40px;
}

.senate-table-body {
    font-size: medium;
}

.table th {
    font-family: Newsreader;
    text-align: center;
    font-size: 20px;
}

.table td {
    font-size: 20px;
    font-family: Newsreader;
    text-align: center;
}

/* footer styles */
.footer-container {
    display: flex;
    justify-content: center;
    border: 2px solid rgb(192 192 192);
    margin: 20px 5.5em;
}

.footer-container p {
    padding: 10px 20px;
    margin: 10px 20px;
    font-size: 15px;
    text-align: center;
}