@font-face {
    font-family: NewsReader;
    src: url(/Fonts/Newsreader/Newsreader-VariableFont_opsz\,wght.ttf);
}

/* header styles */
.header-container {
    display: flex;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    flex-direction: row;
    margin-left: 12em;

}

#logo-image {
    margin-top: 50px;
    width: 50px;
    height: 50px;
}

.title-container {
    margin-left: 1em;
    font-size: 20px;
}

.title-container h1 {
    text-decoration: none;
    color: black;
}

.title-container a:hover {
    text-decoration: none;
}

h1 {
    margin-top: 60px;
    font-size: 60px;
    font-family: Newsreader;
}

.email-container {
    justify-content: right;
    font-size: 20px;
    margin-right: 6em;
    margin-top: 4em;
}

#contact-email {
    font-size: 22px;
}

/* body styles */
h2 {
    font-family: Newsreader;
    margin: 10px 5em;
    font-size: 2.5em;
    padding-bottom: 5px;
}

#main-image {
    width: 180px;
    margin-right: 10em;
    margin-top: 150px;
}

a:hover {
    text-decoration: underline;
}

a {
    font-family: Newsreader;
    color: rgb(0, 178, 243);
    text-decoration: none;
}

.navbar-collapse .navbar-nav .nav-link {
    font-size: 22px;
}

.nav-bar a {
    font-family: Newsreader;
    color: rgb(0, 178, 243);
    text-decoration: none;
    position: relative;
    margin: 0%;
    font-size: 40px;
}

.navbar-link:hover {
    background-color: rgb(215, 215, 215);
}

.navbar-container {
    /* border-style: solid; */
    border-color: grey;
    border-width: 2px;
    display: flex;
    justify-content: center;
    margin: 40px;
}

#contact-email {
    margin-top: 80px;
    margin-right: 35px;
    justify-self: right;
}

.info-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.info-container p {
    font-family: Newsreader;
    margin: 2em 10em;
    width: 60%;
    font-size: 20px;
    padding-top: 5px;
}

.nav-bar {
    height: 20px;
    position: relative;
    display: flex;
    justify-content: left;
    border-style: solid;
    background-color: rgb(255, 249, 241);
    border-color: grey;
    border-width: 2px;
    margin: 30px 30px;
    padding: 10px 20px;
    gap: 20px;
    overflow: hidden;
}

.all-filters-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter-state-container {
    margin-right: 15em;
    margin-top: 15px;
    font-size: 20px;
    font-family: Newsreader;
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: left;
    margin-left: 12em;
    margin-bottom: 1em;
}

.checkbox-container label {
    margin-top: 15px;
    font-size: 20px;
    font-family: Newsreader;
}

.checkbox-container p {
    margin-top: 15px;
    font-size: 20px;
    font-family: Newsreader;
}

.filter-state-container {
    margin-left: 2em;
}

#select-state {
    padding: 5px;
    margin-left: 20px;
}

.table {
    display: table;
    table-layout: auto;
    border: 2px solid rgb(140 140 140);
    width: 80%;
    font-family: Newsreader;
    margin: 0 auto;
}

.senate-table-body {
    font-size: medium;
}

.table th {
    font-family: Newsreader;
    text-align: center;
    font-size: 20px;
}

.table td {
    font-size: 20px;
    font-family: Newsreader;
    text-align: center;
}

/* footer styles */
.footer-container {
    display: flex;
    justify-content: center;
    border-style: solid;
    background-color: rgb(255, 249, 241);
    border-color: grey;
    border-width: 2px;
    margin: 20px 5.5em;
}

.footer-container p {
    margin: 10px 0;
    font-size: 15px;
    text-align: center;
}